/* VARIABLES */
:root {
    --primary-color: #87CEEB;
    /* --primary-color: #0072B1; */
    /* --primary-colour:rgba(240,240,240,0.9); */
    --text-color: white;
    --container-radius: 10px;
    --card-bg: rgb(50, 50, 50);
    --box-shadow: 4px 4px 7px rgba(0, 0, 0, 1);
    /* --container-colour: rgba(0,114,177,1); */
    --container-colour:rgba(50,50,50, 0.5);
}

/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    /* remove min-height if issues with animated tab-content */
    min-height: 80vh;
}


/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel {
    /* background:red; */
    width: 30%;
    display: flex;
    justify-content: center;
}

.right-panel {
    /* background:blue; */
    width: 70%;
}

.cert-badge {
    display: flexbox;
    align-content: center;
    width: 120px;
    height: 120px;
    background-color: rgb(250, 250, 250, 1);
    border-radius: var(--container-radius);
}

.cert-badge img {
    width: 100px;
}

.cert-caption {
    font-size: 12px;
    color: rgb(161, 171, 193);
}

.cert-card {
    background: var(--card-bg);
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--container-radius);
    box-shadow: var(--box-shadow);
}

.cert-title {
    font-size: 12px;
    padding: 10px;
}

.container {
    margin: 0 auto;
    background-color: var(--container-colour);
    width: 80%;
    padding-top: 80px;
    margin-top: 10px;
    padding: 50px 10px;
    border-radius: var(--container-radius);
    max-width: 1000px;
    box-shadow:
        inset 5px 5px 2px rgba(200, 200, 200, 0.35),
        inset -5px -5px 2px rgba(25, 25, 25, 0.10);

    transition: 0.2s ease;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 40px 0;
}

#panel-certifications,
#panel-projects {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;
}

#panel-certifications.active-tab {
    display: grid;
}

#panel-projects.active-tab {
    display: grid;
}

#profile_photo {
    width: 125px;
    /* border: 5px solid rgba(50, 50, 50, 0.9); */
    border-radius: 50%;
    /* border-radius: var(--container-radius); */
    box-shadow: var(--box-shadow);
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: grid;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: rgb(209, 12, 183);
    font-size: 14px;
}

.tab-titles {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 40px;
}

.tab-links {
    background: none;
    border: none;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: inherit;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(239, 166, 50);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}



/* skills */
.skills-chart {
    width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* width: 300px; */
}

.skill-header {
    display: flex;
    gap: 8px;
}

.skill-name {
    width: 150px;
    font-weight: bold;
}

.levels {
    display: flex;
    gap: 8px;
}

.level {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    /* background-color: #e8f5e9; */
    background-color: rgba(250, 250, 250, 0.8);
}

.level.filled {
    background-color: #4CAF50;
}

.level.beyond {
    background: linear-gradient(to right, rgba(250, 250, 250, 0.5), rgba(255, 0, 0, 0) 100%);
}

/* Banner right panel Playground */

.right-panel {
    /* background: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255, 0, 0, 0) 90%); */
    background: rgba(255, 255, 255, 0.8);
    border-radius: var(--container-radius);
    /* border:1px solid black; */
    /* border: 3px solid rgba(50, 50, 50, 0.9); */
    padding: 10px;
    color: black;
    box-shadow: var(--box-shadow);
    margin-right: 20px;
}


/* About  */


#panel-about.active-tab {
    display:flex;
    flex-direction: column;
    justify-self: center;
    margin: 20px;
    padding: 10px;
}

#customer {
    width: 150px;
    border-radius: var(--container-radius);
    box-shadow: var(--box-shadow);
}

.row {
    display: flex;
    padding: 10px;
}

.acontent {
    padding: 20px;
}

/* Project */

.proj-card {
    background: var(--card-bg);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: var(--container-radius);
    box-shadow: var(--box-shadow);
    transition: 0.5s;
}

.project-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--container-radius);
    border-top-right-radius: var(--container-radius);
    transition: 0.5s;
}

.proj-card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}