* {
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Share Tech', sans-serif;
}

#logo {
    width:100px;
    position: absolute;
    padding:5px;
    margin-left:10%;
    z-index: 2;
}

section{
    min-height: 100vh;
}

#my-avatar {
 position: absolute;
 bottom: 0;
 left:0;
 height: 70%;
 width:auto;
}

/* ---------- */
/* NAVIGATION */
/* ---------- */
.navbar {
    background:rgba(150,150,170,1);
    position: fixed;
    width:100%;
    height:80px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.navbar ul {
    padding-right: 10px;
    width:30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right:10%;
}

.navbar a {
    color:black;
    text-decoration: none;
    font-size:1.5em;
}

.navbar a:hover {
    color:white;
    border-bottom: 3px solid orange;
}

.active {
    border-bottom: 1px solid orange;
}

/* ---- */
/* HOME */
/* ---- */
#home {
    background:rgba(10,10,100,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

h1 {
    font-size: 2.2em;
}

i {
    color:orange;
    padding:10px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    width:60%;
    padding-top: 1em;
}

#skills ul{
    list-style:none;
    text-align: left;
}

#skills li::before {
    content: '\2713';
}

.skills h2 {
    color:grey;
}

/* -------- */
/* PROJECTS */
/* -------- */
#projects {
    /* background:rgba(50,50,50,0.5); */
    padding-top:1%;
    background: rgba(200,200,200,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#projects h2{
    font-size:2.5em;
    position: relative;
    /* top:-20px; */
}

#projects div {
    display: flex;
}

#project-container {
    width:90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#github {
    position: relative;
    display: flex;
    flex-direction: column;
    /* top:50px; */
    font-size:1.2em;
}

#github i:hover {
    text-shadow: 0 0 5px grey;
    transition: 0.5s ease-out;
}

.item {
    margin:0.5em;
    width:30%;
    background:white;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    padding:5px;
}

.item:hover{
    box-shadow: 0 0 20px black;
    transition: 0.25s ease-out;
}

.item img {
    /* display: block; */
    height:auto;
    width:100%;  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* ------- */
/* CONTACT */
/* ------- */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:rgba(10,10,100,0.2);
    font-size: 1.5em;
}

#contact h2{
    font-size:4em;
    position: relative;
    /* top:-100px; */
}

#contact-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:60%;
    /* background:blue; */
}

#contact ul {
    display: flex;
    flex-direction: column;
}

#contact a {
    text-decoration: none;
    color:grey;
}

#contact i {
    color:orange;
}

#contact p{
    padding:10vh;
}

#contact i:hover{
    text-shadow: 0 0 5px black;
    transition: 0.5s ease-out;
}

footer {
    padding-top:2%;
}

#bye-avatar {
    display: none;
    position: fixed;
    height: 50%;
    width:auto;
    bottom: 0;
    right:1%;
    animation-name: byebye;
    animation-duration: 1s;
}

.hide{
    visibility: hidden;
}

@keyframes byebye {
    0% {right:-200px;}
    100%{right:1%;}
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */


/* iPad sized screen */
@media (max-width:900px) {
    .navbar ul{
        width:60%;
        margin-right:5%;
    }
    #logo {
        margin-left:5%;
        width:50px;
        margin-top:15px;     
    }
    #my-avatar {
        height:35%;
        z-index: 0;
    }
    #bye-avatar {
        height:40%;
        z-index: 0;
    }
    #home{
        font-size:1.5em;
    }
    #skills {
        padding:10% 5%;
    }
    .item{
        width:80%;
    }
    #projects {
        padding-top:90px;
    }
}

/* small screen i.e. iPhone 5 in portrait */
@media (max-width:500px) {
    body {
        font-size:0.6em;
    }
    #my-avatar {
        height:30%;
    }
    #bye-avatar {
        height: 30%;
    }

    #projects {
        padding-top:90px;
    }
}

/* small screen i.e. iPhone 5 in landscape */
@media (max-height:620px) {
    body{
        font-size:0.6em;
    }
    #home{
        padding-top:5%;
    }
    #home i{
        font-size:1.5em;
    }
    #home h2{
        font-size:1em;
    }
    h1 {
        font-size:1.8em;
    }
    #contact {
        padding-top:90px;
    }
    #skills{
        padding:0;
    }
}
