* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #d1d1e0; */
    /* background-color: rgba(41, 137, 169, 0.5); */
    background-color: #87CEEB ;
    /* background-color: white; */
    /* color: black; */
    color:white;
    display:flex;
    justify-content: center;
    align-self: center;
    min-height: 50vh;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cert-badge{
    display: flexbox;
    align-content: center;
    width: 120px;
    height: 120px;
    background-color: rgb(250,250,250,1);
    border-radius: 10%;
}
.cert-badge img{
    width: 100px;
    /* align-self: center; */

}

.cert-caption{
    font-size: 12px;
    color: rgb(161, 171, 193);
}
.cert-card{
    background:rgb(50,50,50,1);
    width:250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10%;
    color:white;
    /* box-shadow:
        inset 6px 6px 10px rgba(0,0,0,0.35),
        inset -6px -6px 10px rgba(255,255,255,0.10);
    
    transition: 0.2s ease; */
    box-shadow: 4px 4px 10px rgba(0,0,0,1);
}

.cert-title {
    font-size: 12px;
    padding:10px;
}

.container{
    /* background:#499ac5; */
    background-color: rgb(100,100,100,0.5);
    width: 80%;
    padding-top: 80px;
    margin-top: 10px;
    padding: 50px 10px;
    border-radius: 5%;
    max-width: 1200px;
    box-shadow:
        inset 6px 6px 10px rgba(200,200,200,0.35),
        inset -6px -6px 10px rgba(25,25,25,0.10);
    
    transition: 0.2s ease;
}

.divider {
    width: 100%;
    height: 1px;        /* thin line */
    background-color: rgba(255, 255, 255, 0.3);  /* subtle white/transparent */
    margin: 40px 0;     /* space above & below */
}


#panel-certifications{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;  /* spacing between cards */
    width: 100%;
    justify-items: center;   /* <-- center cards in their columns  */
    align-items: center;     /* <-- vertically center them in row if needed */
}

#panel-certifications.active-tab {
    display: grid;
}

#profile_photo{
    width: 120px;
    border: 3px solid rgba(50,50,50,0.9);
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0,0,0,1);
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display:block;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:rgb(209, 12, 183);
    font-size: 14px;
}

.tab-titles{
    display:flex;
    justify-content: space-around;
    margin: 20px 0 40px;
}

.tab-links{
    background:none;
    border:none;
    margin-right: 50px;
    font-size: 18px;
    font-weight:600;
    cursor: pointer;
    color:inherit;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(239, 166, 50);
    position:absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

